.text_gray
{
  color:#49612b;
}
.font_size_xlarge
{
  font-size:x-large;
}
.font_size_large{
  font-size:large;
}
.my_btn{
border-radius:25px !important;
background-color:#49612b;
color:aliceblue;
font-size:xx-small;
}

.footer_bg{
  background-color: #cfe46b;
}